@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');

// background: linear-gradient(315deg, #7a7adb 0%, #170e13 74%);
body {
  background: rgb(122, 122, 219); /* couleur de départ */
  background: -moz-linear-gradient(
    315deg,
    rgba(122, 122, 219, 1) 0%,
    rgba(23, 14, 19, 1) 74%
  );
  background: -webkit-linear-gradient(
    315deg,
    rgba(122, 122, 219, 1) 0%,
    rgba(23, 14, 19, 1) 74%
  );
  background: linear-gradient(
    315deg,
    rgba(122, 122, 219, 1) 0%,
    rgba(23, 14, 19, 1) 74%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7a7adb",endColorstr="#170e13",GradientType=1);
}

//RESET CSS
*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
}

h1,
h2,
h3 {
  margin-block-end: 0;
  margin-block-start: 0;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

// html {
//   scrollbar-width: thin;
// }

html {
  --sb-track-color: #232e33;
  --sb-thumb-color: #656565;
  --sb-size: 4px;
}

html::-webkit-scrollbar {
  width: var(--sb-size);
}

html::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 4px;
}

html::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 4px;
}

@supports not selector(::-webkit-scrollbar) {
  html {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
